body{
    font-family: 'PT Serif','Noto Sans KR','Rubik', sans-serif;
}
.head {
    text-align: center;
    position: relative;
    top: 80px;
}
.headerWrapper {
    color: white;
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-size: 950px;
    height: 520px;
    width: 100%;
}



#tagLine {
    font-size: 8pt;
}

.aboutUs {
    text-align: center;
}

#aboutParagraph {
    font-size: 10pt;
}

.services {
    font-weight: 700;
    text-align: center;
    color: white;
    background-size: 1000px;
    height: 200px;
    width: 100%;
    background-image: url("/assets/backgrounds/s_image.jpg")
}

#serviceParagraph {
    font-size: 8pt;
}

.whatWeDo {
    font-size: 10pt;
    text-align: center;
    height: 30vh;
    
}

.design{
    display: none;
} 
.development{
    display: none;
}
.product {
    display: none;
}

.portfolio {
    width: 100%;
    height: 200px;
    display: inline-block;
    text-align: center;
}

.contactUs {
    width: 100%;
    height: 350px;
    background-size: 1000px;
    background-image: url("/assets/backgrounds/c_image.jpg");
    color: white;
    text-align: center;
}

input[type=text] {
    margin-right: 15px;
}

textarea {
    background-color: inherit;
    border: 1px solid white;
    margin-left: 15px;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 2px;
    ;
}

 ::placeholder {
    color: white;
    opacity: 1;
}

.portfolio>img {
    margin-right: 10px;
}

.footer {
    text-align: center;
    height: 50px;
    font-size: 8pt;
}

.delani {
    font-size: 8pt;
}

.btn {
    color: black;
    margin-right: 30px;
}

.portfolio>img {
    opacity: 1.0;
    filter: alpha(opacity=40);
}

.portfolio>img:hover {
    opacity: 0.7;
    filter: alpha(opacity=100);
}

@media (max-width:768px) {
    .container {
        width: 100vw;
        overflow: hidden;
        text-align: center;
        display: flexbox;
    }
    .service {
        height: 50vh;
       
    }
    .what-we-do {
        width: 300px;
        display: flexbox;
      
    }
    .portfolio {
        display: flexbox;
        text-align: center;
        height: auto;
    }
    .portfolio img{
        height: 120px;
        width: 150px;
    }
    .contactUs {
        text-align: center;
        height: 50vh;
        padding-left: 5px;
        margin-bottom: 20px;
    }
    .contactUs textarea {
        width: 200px;
        height: 50px
    }
    .contactUs .name-field {
        width: 200px;
        
    }
    .contactUs input,
    textarea {
        background-color: inherit;
        border: .5px solid white;
        color: white;
        margin: 5px;
    }
    .row1 div img {
        width: 100%;
        padding: 5px;
        height: auto;
    }
    
}